.Button {
    display: inline-block;
    width: 100px;
    height: 90px;
    text-align: center;
    border-radius: 50%;
    background: rgb(255, 131, 30);
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    outline: none;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
    border: 5px solid rgb(226, 108, 12);
}

.ButtonBefore {
    position: absolute;
    width: 100px;
    height: 20px;
    color: #fff;
    outline: none;
    position: absolute;
    left: -5px;
    bottom: 50%;
    border-left: 5px solid rgb(226, 108, 12);
    border-right: 5px solid rgb(226, 108, 12);
}

.ButtonAfter {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    border: 5px solid rgb(226, 108, 12);
    background: rgb(255, 131, 30);
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: -5px;
    bottom: 10px;
    line-height: 90px;
}